@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 10% 3.9%;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.clip-text-image {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}